@import "tailwindcss";

@theme {
  --color-primary: #0b205d;
  --color-secondary: #c8102e;
  --color-background: #f3f4f6;
  --color-text-dark: #374151;
  --color-accent: #f59e0b;
  
  --font-heading: var(--font-montserrat), sans-serif;
  --font-body: var(--font-lora), serif;
}

@layer base {
  body {
    font-family: var(--font-body);
    background-color: var(--color-primary);
    color: var(--color-background);
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
  }
}

.font-heading {
  font-family: var(--font-heading);
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: var(--color-primary);
}
::-webkit-scrollbar-thumb {
  background: var(--color-text-dark);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--color-secondary);
}

/* Custom Utilities */
.cinematic-gradient {
  background: linear-gradient(
    to top,
    var(--color-primary) 0%,
    rgba(11, 32, 93, 0.8) 30%,
    rgba(11, 32, 93, 0.2) 100%
  );
}